
.publi-todo-t{
    background-color:#3b5998 ;
    border: 4px solid #eceef2;
    height: 400px;
    padding: 1% 10%;
  
}
.form-control-t{
	border-radius: 4%;
	padding-left: 5%;
	height: 30px;
	width: 90%;

}
.form-control-p{
	width:400%;
	padding: 10%;

}