.chat{
    background: -webkit-radial-gradient(center,#B9B6DF,#8BAED5,#181C85);
    height: 580px;
    overflow:auto ;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: ridge 2px #181C85;
    
}
.chat-t{ 
    font: italic bold 20px Georgia ; 
    color:white;
    text-shadow: blue 2px 2px;
    margin: 3px;
    }
.contenedor-msjs{
        display: block;
        padding: 2px 15px;
        overflow:auto ;
        height: 200px;
        margin-bottom: 10px;
        border: ridge 2px blue;
        border-radius: 5px;
        background: -webkit-linear-gradient(bottom,#6D70BE,#8BAED5,#B9B6DF,#8BAED5,#6D70BE);
}
.row-msj{
    clear: both; 
    
}
.destina{
    clear: left;
    float: left;
    margin-left: 0px ;
    text-align: left:  ;
    background-color:#463BBB;    
}
.remite{
    float: left;
    float: right;
    text-align: right;
    background-color: #275127;
    padding-right: 0px;

}
.msj{
    max-width: 80%;
    /*word-break: break-all;  */
    padding: 2px 3px;
    margin: 1px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
     
}
.list-a{
    margin: 2px 55px 2px 25px;
    border: ridge 1px blue;
    border-radius: 2px;
    background: -webkit-linear-gradient(top,#D6D5F0,#A1A0B6);
    padding: 0px 25px;
}
.chat-li:hover{
    color: #56B149;
    font-size: 24px;
    cursor:pointer ;
}
.chat-li:visited{
    color: #247818;
    font-size: 24px;
}
.chat-li{
    font:  bold 20px Cambria ; 
    color: #2C26DA;
    text-shadow: black 1px 1px;
}
.friendly{
    
    color: white;
}
.a{
    color: white;
}
.f-li{
    background-color: #3b9bbb;
    color: white;
}
/*.posdown{
    z-index: 10;
    position: relative;
}
.posup{
    z-index: 500;
    position: relative;
}*/