.datos-t{
   background-image: url('./image/uuu.png');
    height: 100%;
    padding: 4%;
    margin: 4%;
    border-radius: 5px;
    color: orange;
}

.img-per img {
    width: 100%;
    height: 100%;
    
}

.form-group-nom{
    font-size: 12pt;
    font-weight: bold; 
    color: orange;
    text-align: center;
}
.modal-header > .bottom >.close{
    color:orange;
} 
