.datos-t{
    background: -webkit-linear-gradient(bottom,#3E35A4, #8184BA);
    background-image: url('fondo-negro-de-formas.jpg') ;
    height: 100%;
    padding: 4%;
    margin: 4%;
    border-radius: 20px;
    color: orange;
    max-width: 100%;
    
}
.edit-perfil{
    background: -webkit-linear-gradient(bottom, black, grey,white);
    border-radius: 20px;
}
.img-per img {
    width: 100%;
    height: 100%;
    max-width: 150px;   
   
}

.form-group-nom{
    font-size: 12pt;
    font-weight: bold; 
    color: orange;
    text-align: center;
}
.modal-header > .bottom >.close{
    color:orange;
} 
.grupos{
    width: 20%;
    padding-top: 5px;   
}
